* {
    margin: 0;
    padding: 0;
}

.container-grande {
    text-align: center;
   
   
}
   

.contenedor-chico {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: gray;
    border-width: 1px; 
    border-radius: 15px;
    margin-left: 510px;
    margin-right: 510px;
    text-align: center;
    background-color: rgb(249, 249, 249);
    font-size: 17px;
   
    }

.todosloscampossonrequeridos {
    color: red;
}
.caja-menor {
    border-radius: 5px;
    height: 20px;
    border-color: gray;
    
}

.boton {
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 5px;
    border-color: gray;
    width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  
    
    
     
}

p {
    margin-top: 20px;
}






