* {
    margin: 0; 
    padding: 0;
}


.caja-mayor {
display: flex;
justify-content: start;
}

.caja-medium {
display: flex;
text-indent: 50px;
border-style: solid;
border-width: 0.5px;
justify-content: space-around;
background-color: rgba(128, 128, 128, 0.089);
color: rgba(0, 0, 0, 0.671);
border-bottom-left-radius: 50px;
border-color: rgba(128, 128, 128, 0.089);
height: 60px;
flex: 1;
margin-left: 580px;

}